Package/Transliteration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Transliteration">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="element" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="from" type="xs:string" use="required"/>
						<xs:attribute name="to" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="title" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
